@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --color-black: black;
  --color-white: white;
  --color-white-opacity-015: rgb(255,255,255, .15);
  --color-white-opacity-01: rgb(255,255,255,.1);
  --color-white-opacity-08: rgb(255,255,255,.8);
  --color-orange: #FB7E12;
  --color-light-red: #E02352;
}

*{
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

*:focus{
  outline: none;
  -webkit-tap-highlight-color: transparent;
}


body{
  background-color: var(--color-black);
}

body::-webkit-scrollbar{
  width: 8px;
  background-color: var(--color-black);
}

body::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to right, var(--color-orange), var(--color-light-red));
}

.main-app{
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

header .header-container{
  width: 95%;
  background-image: linear-gradient(to right, var(--color-white-opacity-015), var(--color-white-opacity-01), var(--color-white-opacity-01));
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-radius: 5px;
  box-sizing: border-box;
}

header .header-container h1{
  font: 600 2.2em 'Poppins', arial, sans-serif;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, var(--color-orange), var(--color-light-red));
  color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

header .header-container h1::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: all .3s ease-in-out;
  border-bottom: 1.7pt solid var(--color-white);
}

header .header-container h1:hover::before{
  width: 100%;
}

header .container-links{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

header .container-links a{
  font-size: 2em;
  color: var(--color-white);
  transition: transform .2s ease-in-out;
}

header .container-links a:hover{
  transform: scale(1.1);
}

main{
  width: 95%;
  margin: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  box-sizing: border-box;
}

main .div-titulo-sobre{
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 10px 0px;
  background-image: linear-gradient(to right, var(--color-white-opacity-015), var(--color-white-opacity-01), var(--color-white-opacity-01));

}

main #div-titulo-text{
  width: 60%;
  display: flex;
  padding: 60px 20px;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  row-gap: 1.6rem;
  box-sizing: border-box;
}

main #div-titulo-text h2{
  font: 500 1.35em arial, sans-serif;
  color: var(--color-white);
}

main #div-titulo-text h2 span{
  text-transform: uppercase;
  font-weight: 700;
}

main #div-titulo-text h1{
  font: 700 3.3em 'Poppins', arial, sans-serif;
  background: linear-gradient(to right, var(--color-orange), var(--color-light-red));
  -webkit-background-clip: text;
  color: transparent;
  line-height: 110%;
}

main #div-titulo-text a{
  text-decoration: none;
  padding: 8px 30px;
  font: 500 1.3em 'Poppins', arial, sans-serif;
  color: var(--color-white);
  border-radius: 5px;
  background: linear-gradient(to right, var(--color-orange), var(--color-light-red));
  margin-top: 20px;
  border: none;
  transition: all .2s linear;
}

main #div-titulo-text a:hover{
  transform: scale(1.05);
}

main #div-titulo-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  min-width: 370px;
  padding: 60px 20px;
}

main #img-div{
  width: 290px;
  height: 290px;
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 1px 1px 5px var(--color-black);
}

main #img-div img{
  width: 145%;
  height: 145%;
  object-fit: cover;
  transform: rotate(45deg);
}

main .div-sobre{
  width: 100%;
  background-image: linear-gradient(to right, var(--color-white-opacity-015), var(--color-white-opacity-01), var(--color-white-opacity-01));
  border-radius: 5px;
  padding: 0px 0px 0px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-height: 600px;
}

main #div-sobre-text{
  width: 55%;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: center;
}

main #div-sobre-text h2{
  font: 600 1.5em 'Poppins', arial, sans-serif;
  color: var(--color-orange);
}

main #div-sobre-text h1{
  font: 600 2.7em 'Poppins', arial, sans-serif;
  max-width: 90%;
  color: var(--color-white);
}

main #div-sobre-text p{
  max-width: 90%;
  font: 500 1.2em 'Montserrat', sans-serif;
  color: var(--color-white);
  line-height: 150%;
}

main #div-sobre-text .skils{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: .5rem;
  text-transform: uppercase;
}

main #div-sobre-text .skils span{
  color: var(--color-white);
  font: 500 1.1em 'Poppins', sans-serif;
  padding: 0px 0px 3px 0px;
  border-bottom: 1pt solid var(--color-orange);
}

main #div-sobre-img{
  width: 45%;
  min-width: 300px;
}

main #div-sobre-img img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

main .experiencia{
  width: 100%;
  max-width: 2000px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 40px 30px;
  margin: auto;
  background-image: linear-gradient(to right, var(--color-white-opacity-015), var(--color-white-opacity-01), var(--color-white-opacity-01));
}

main .experiencia-text{
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

main .experiencia-text h1{
  background: linear-gradient(to right, var(--color-orange), var(--color-light-red));
  font: 600 2.5em arial, sans-serif;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

main .experiencia-text h2{
  color: var(--color-white);
  text-align: center;
  font: 600 1.4em arial, sans-serif;
}

main .experiencia-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

main .linguagem{
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1rem;
  height: 130px;
  position: relative;
}

main .linguagem h1{
  background: linear-gradient(to right, var(--color-orange), var(--color-light-red));
  font: 600 1.5em arial, sans-serif;
  -webkit-background-clip: text;
  color: transparent;
  border-bottom: 3px solid transparent;
  padding: 10px 3px 5px 3px;
  transition: all .2s linear;
  position: absolute;
  bottom: -20px;
}

main .linguagem h1::before{
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transition: all .3s ease-in-out;
  border-bottom: 1.8pt solid var(--color-white);
}

main .linguagem:hover h1::before{
  width: 100%;
}

main .linguagem img{
  width: 85px;
  height: 85px;
  border-radius: 8px;
}

main #react{
  width: 120px;
}

main #css{
  width: 105px;
  height: 105px;
}

footer{
  width: 95%;
  border-radius: 5px;
  margin: auto;
  padding: 40px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, var(--color-white-opacity-015), var(--color-white-opacity-01), var(--color-white-opacity-01));
}

footer p{
  background: linear-gradient(to right, var(--color-orange), var(--color-light-red));
  -webkit-background-clip: text;
  font: 600 2em arial, sans-serif;
  color: transparent;
}

footer #footer-icons{
  display: flex;
  gap: 2rem;
}

footer #footer-icons a{
  font-size: 2em;
  color: var(--color-white);
  transition: transform .2s ease-in-out;
}

footer #footer-icons a:hover{
  transform: scale(1.1);
}

.carrosel-app{
  width: 95%;
  margin: auto;
  padding: 40px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  row-gap: 3rem;
}

.carrosel-app .swiper{
  width: 100%;
  overflow-x: hidden;
}

.carrosel-app .control-slides{
  max-width: 30vw;
  padding: 20px 7px 10px 7px;
  margin: auto;
  padding: 10px;
  overflow-x: hidden;
  border: 1pt solid rgb(255,255,255,.6);
  border-radius: 5px;
  background-image: linear-gradient(to right, var(--color-white-opacity-015), var(--color-white-opacity-01));
}

.carrosel-app .slide-link-button{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  row-gap: 1rem;
  margin-top: 10px;
}


.carrosel-app .link-buttons{
  display: flex;
  justify-content: space-between;
}

.carrosel-app .slide-link-button h2{
  font: 500 1.4em 'Poppins', sans-serif;
  color: white;
  margin-bottom: 10px;
}

.carrosel-app .slide-link-button #indent-content{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-left: 1pt solid rgb(255,255,255,.8);
  margin-left: 25px;
  padding: 9px 0px 9px 10px;
  margin-bottom: 15px;
}

.carrosel-app .slide-link-button #indent-content h3{
  color: rgb(255,255,255,.8);
  font: 500 1em 'Poppins', helvetica, sans-serif;
}

.carrosel-app .slide-link-button #indent-content #tecnologies{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.carrosel-app .slide-link-button #tecnologies h4{
  color: white;
  font: 600 .9em 'Poppins',helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 50%;
}

.carrosel-app .link-buttons a{
  padding: 5px 40px;
  color: black;
  border-radius: 5px;
  font: 600 1.1em 'Poppins', serif;
  cursor: pointer;
  background-color: var(--color-white);
  text-decoration: none;
}

.carrosel-app #swiper-img img{
  width: 100%;
  height: 100%;
  border-bottom: none;
  object-position: center;
  object-fit: cover;
}

.carrosel-app .img-gradient{
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-image: linear-gradient(to top, var(--color-black), transparent);
}

.carrosel-app .swiper-button-next, .swiper-button-prev{
  color: var(--color-white) !important;
  transform: scale(.7);
}

.carrosel-app .swiper-button-next::before, .swiper-button-prev::before{
  content: '';
  width: 200px;
  min-height: 150vh;
  position: absolute;
  z-index: -1;
};

.carrosel-app .swiper-button-next{
  margin-right: -5px;
}

.carrosel-app .swiper-button-prev{
  margin-left: -5px;
}

.carrosel-app .swiper-button-next::before{
  position: absolute;
  background-image: linear-gradient(to left, var(--color-black), var(--color-black), transparent);
}

.carrosel-app .swiper-button-prev::before{
  background-image: linear-gradient(to right, var(--color-black), var(--color-black), transparent);
}

.carrosel-app h1{
  display: inline-block;
  width: fit-content;
  margin: auto;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #FB7E12, #E02352);
  padding: 15px 30px;
  border-radius: 5px;
  text-align: center;
  font: 600 2em arial, sans-serif;
  position: relative;
  z-index: 1;
}

.carrosel-app h1::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-image: linear-gradient(to right, var(--color-white-opacity-015), var(--color-white-opacity-01));
  z-index: -1;
}

.container-carrosel{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  transform: translateX(0%);
}

.carrosel-app .images-img{
  width: 100%;
  height: 200px;
  margin: auto;
  border: 1pt solid rgb(255,255,255, .2);
  overflow: hidden;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
}

.carrosel-app .images-img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform .3s ease-in-out;
}

@media screen and (max-width: 1050px) {

  .container-links a{
    font-size: 1.9em
  }

  .header-container h1{
    font-size: 2em;
  }

  #div-titulo-text h2{
    font-size: 1.3em;
  }

  #div-titulo-text h1{
    font-size: 3.1em;
  }

  #div-titulo-text a{
    font-size: 1.5em; 
  }

  #img-div{
    width: 280px;
    height: 280px;
  }

  #div-sobre-text h2{
    font-size: 1.5em;
  }

  #div-sobre-text p{
    font-size: 1.10em;
  }

  #div-sobre-text h1{
    font-size: 2.5em;
  }

  footer{
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
    justify-content: center;
    padding: 20px 0px;
  }

  footer p{
    font-size: 2em;
  }

  #footer-icons a{
    font-size: 2em; 
  }
}

@media screen and (max-width: 930px){

  .div-titulo-sobre{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #div-titulo-text{
    width: 100%;
  }

  #div-titulo-text h1{
    font-size: 3.1em;
  }

  #div-titulo-text h2{
    font-size: 1.3em;
  }

  #div-titulo-text a{
    font-size: 1.5em;
  }

  #img-div{
    width: 270px;
    height: 270px;
  }

  #div-sobre-text h1{
    font-size: 2.6em;
  }

  .linguagem img{
    width: 80px;
    height: 80px;
  }

  #react{
    width: 100px;
  }

  #css{
    width: 85px;
    height: 85px;
  }
}

@media screen and (max-width: 730px){

}

@media screen and (max-width: 550px){
  header .header-container{
    flex-direction: column;
    align-items: flex-start;
  }

  header .header-container h1{
    font-size: 1.95em;
  }

  header .header-container .container-links{
    box-sizing: border-box;
    gap: 2rem;
    padding: 5px 0px;
    margin: auto;
  }

  header .header-container .container-links a{
    font-size: 1.9em;
  }

  main .div-titulo-sobre{
    flex-direction: column-reverse;
  }

  main #div-titulo-text{
    width: 100%;
    padding: 20px 0px;
    align-items: flex-start;
  }

  main #img-div{
    width: 200px;
    height: 200px;
  }

  main #div-titulo-text{
    padding: 20px 10px;
  }

  main #div-titulo-text h2{
    font-size: 1.25em;
  }
  
  main #div-titulo-text h1{
    font-size: 2.45em;
  }
  
  main #div-titulo-text a{
    padding: 5px 25px;
    font-size: 1.2em;
    margin: 0;
  }

  main .div-sobre{
    flex-direction: column;
    max-height: 100vh;
    padding: 0;
  }

  main #div-sobre-text{
    width: 100%;
    padding: 10px 10px 25px 10px;
  }

  main #div-sobre-text h2{
    font-size: 1.45em;
  }

  main #div-sobre-text h1{
    font-size: 2.35em;
  }

  main #div-sobre-text p{
    font-size: 1.15em;
  }

  main #div-sobre-img{
    position: relative;
    width: 100%;
    padding: 0px;
  }

  main .experiencia-text h1{
    font-size: 2.2em;
  }

  main .experiencia-text h2{
    font-size: 1.3em;
  }

  main .experiencia-icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  main .linguagem{
    height: 90px;
  }

  main .linguagem img{
    width: 60px;
    height: 60px;
    object-fit: inherit;
  }

  main .linguagem #react{
    width: 70px;
    height: 60px;
  }

  main .linguagem #css{
    width: 65px;
    height: 65px;
  }

  main .linguagem h1{
    font-size: 1.3em;
  }

  .carrosel-app{
    width: 100%;
    padding: 0px 10px;
    row-gap: 2rem;
  }

  .carrosel-app h1{
    font-size: 1.7em;
  }

  .carrosel-app .control-slides{
    max-width: 80%;
    padding: 5px 10px;
  }

  .carrosel-app .images-img{
    height: 180px;
  }


  .carrosel-app .swiper-button-next{
    right: -1px;
    transform: scale(.7);
  }

  .carrosel-app .swiper-button-prev{
    left: -1px;
    transform: scale(.7);
  }

  .carrosel-app .swiper-button-next::before, .swiper-button-prev::before{
    display: none;
  }

  .carrosel-app .slide-link-button .link-buttons{
    flex-direction: column;
    row-gap: 1rem;
  }

  .carrosel-app .slide-link-button .link-buttons a{
    text-align: center;
  }

  footer{
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    row-gap: 1.5rem;
  }

  footer p{
    font-size: 1.4em;
  }

  footer #footer-icons{
    padding: 0px;
  }

  footer #footer-icons a{
    font-size: 1.9em;
  }
}


