@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.main-app{
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.header-container{
  width: 90%;
  max-width: 1200px;
  background-image: linear-gradient(to right, rgb(255,255,255, 0.15), rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0.1));
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-radius: 5px;
  box-sizing: border-box;
}

.header-container h1{
  font: 600 2.2em arial, sans-serif;
  background: linear-gradient(to right, #FB7E12, #E02352);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

.container-links{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.container-links a{
  font-size: 2em;
  color: white;
  transition: transform .2s ease-in-out;
}

.container-links a:hover{
  transform: scale(1.1);
}

.main-container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  box-sizing: border-box;
}

.div-titulo-sobre{
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgb(255,255,255, 0.15), rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0.1));

}

#div-titulo-text{
  width: 60%;
  display: flex;
  padding: 60px 20px;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  row-gap: 1.6rem;
  box-sizing: border-box;
}

#div-titulo-text h2{
  font: 500 1.4em arial, sans-serif;
  color: white;
}

span{
  text-transform: uppercase;
  font-weight: 600;
}

#div-titulo-text h1{
  font: 600 3.5em arial, sans-serif;
  background: linear-gradient(to right, #FB7E12, #E02352);
  -webkit-background-clip: text;
  color: transparent;
}

#div-titulo-text a{
  text-decoration: none;
  padding: 5px 20px;
  background: linear-gradient(to right, #FB7E12, #E02352);
  border: none;
  font: 600 1.9em arial, sans-serif;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  transition: all .2s ease-in-out;
}

#div-titulo-text a:hover{
  transform: scale(1.05);
}

#div-titulo-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  min-width: 370px;
  padding: 60px 20px;
}

#img-div{
  width: 290px;
  height: 290px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 1px 1px 5px black;
}

#img-div img{
  width: 145%;
  height: 145%;
  transform: rotate(-45deg);
  object-fit: cover;
}

.div-sobre{
  width: 100%;
  background-image: linear-gradient(to right, rgb(255,255,255, 0.15), rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0.1));
  border-radius: 5px;
  padding: 0px 0px 0px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-height: 600px;
}

#div-sobre-text{
  width: 55%;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  justify-content: center;
}

#div-sobre-text h2{
  font: 600 1.5em arial, sans-serif;
  color:#F28E12;
}

#div-sobre-text h1{
  font: 600 2.7em arial, sans-serif;
  max-width: 90%;
  color: white;
}

#div-sobre-text p{
  max-width: 90%;
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  color: white;
  line-height: 150%;
}

#div-sobre-img{
  width: 45%;
  min-width: 300px;
}

#div-sobre-img img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.experiencia{
  width: 100%;
  max-width: 1200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 40px 30px;
  margin: auto;
  background-image: linear-gradient(to right, rgb(255,255,255, 0.15), rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0.1));
}

.experiencia-text{
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.experiencia-text h1{
  background: linear-gradient(to right, #FB7E12, #E02352);
  font: 600 2.5em arial, sans-serif;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

.experiencia-text h2{
  color: white;
  text-align: center;
  font: 600 1.4em arial, sans-serif;
}

.experiencia-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.linguagem{
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.linguagem img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#html{
  width: 150%;
}

footer{
  width: 90%;
  max-width: 1200px;
  border-radius: 5px;
  margin: auto;
  padding: 40px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgb(255,255,255, 0.15), rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0.1));
}

footer p{
  background: linear-gradient(to right, #FB7E12, #E02352);
  -webkit-background-clip: text;
  font: 600 2.1em arial, sans-serif;
  color: transparent;
}

#footer-icons a{
  font-size: 2.1em;
}

.carrosel-app{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  background-image: linear-gradient(to right, rgb(255,255,255, 0.15), rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0.1));
  border-radius: 5px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  row-gap: 3rem;
}

.carrosel-app h1{
  background: linear-gradient(to right, #FB7E12, #E02352);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font: 600 2em arial, sans-serif;
}

.container-carrosel{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.div-images{
  min-width: 250px;
  height: 370px;
  border: 1px solid white;  
}

.images-img{
  width: 100%;
  height: 65%;
  overflow: hidden;
}

.images-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .3s ease-in-out;
}

.images-img img:hover{
  transform: scale(1.2);
}

.images-buttons{
  width: 100%;
  height: 35%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 0px;
  border: 1px solid transparent;
  border-top: 1pt solid white;
  border-radius: 10px;
}

.discriçao-imgs{
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 0px 15px;
  flex-direction: column;
  row-gap: 1rem;
}

.discriçao-imgs h1{
  color: white;
  font: 600 1.2em arial,sans-serif;
}

.discriçao-imgs p{
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.discriçao-imgs p span{
  color: rgb(255, 255, 255, .7);
  font: 600 .8em arial, sans-serif;
}

.discriçao-imgs p span::before{
  content: "\2022";
  margin-right: 5px;
  color: yellow;
}

.images-btn{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.images-buttons a{
  font: 400 1em arial ,sans-serif;
  text-decoration: none;
  background-color: black;
  color: white;
  border: 1pt solid white;
  padding: 5px 20px;
  border-radius: 20px;
  transition: all .2s ease-in-out;
}

.images-buttons a:hover{
  transform: scale(1.05);
}

@media screen and (max-width: 1050px) {

  .container-links a{
    font-size: 1.9em
  }

  .header-container h1{
    font-size: 2em;
  }

  #div-titulo-text h2{
    font-size: 1.3em;
  }

  #div-titulo-text h1{
    font-size: 3.1em;
  }

  #div-titulo-text a{
    font-size: 1.5em; 
  }

  #img-div{
    width: 280px;
    height: 280px;
  }

  #div-sobre-text h2{
    font-size: 1.5em;
  }

  #div-sobre-text p{
    font-size: 1.10em;
  }

  #div-sobre-text h1{
    font-size: 2.5em;
  }

  footer{
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
    justify-content: center;
    padding: 20px 0px;
  }

  footer p{
    font-size: 2em;
  }

  #footer-icons a{
    font-size: 2em; 
  }
}

@media screen and (max-width: 930px){

  .div-titulo-sobre{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #div-titulo-text{
    width: 100%;
  }

  #div-titulo-text h1{
    font-size: 3.1em;
  }

  #div-titulo-text h2{
    font-size: 1.3em;
  }

  #div-titulo-text a{
    font-size: 1.5em;
  }

  #img-div{
    width: 270px;
    height: 270px;
  }

  #div-sobre-text h1{
    font-size: 2.6em;
  }

  .linguagem{
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 730px){
  #div-titulo-text{
  }

  #div-titulo-text h1{
    font-size: 3.1em;
  }

  #div-titulo-text a{
    font-size: 1.5em;
  }

  #img-div{
    width: 250px;
    height: 250px;
  }

  .div-sobre{
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 0px;
    row-gap: 2rem;
    max-height: 100%;
  }

  #div-sobre-text{
    width: 100%;
    padding: 0px 0px 0px 20px;
  }

  #div-sobre-text p{
    min-width: 100%;
  }

  #div-sobre-text h1{
    font-weight: 500;
  }

  #div-sobre-img{
    width: 100%;
    min-height: 100%;
  }

  .linguagem{
    width: 50px;
    height: 50px;
  }

  .experiencia{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  footer p{
    font-size: 1.8em;
  }

  #footer-icons a{
    font-size: 2.1em;
  }
}

@media screen and (max-width: 550px){
  .header-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    padding: 20px 15px;
  }

  .container-links{
    margin: auto;
    padding: 0px;
  }

  .container-links a{
  }

  .div-titulo-sobre{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    row-gap: 1rem;
  }

  #div-titulo-text{
    display: flex;
    width: 100%;
    padding: 30px 15px;
    justify-content: center;
  }

  #div-titulo-text h2{
    font-size: 1.3em;
  }

  #div-titulo-text h1{
    font-size: 2.8em;
  }

  #div-titulo-text a{
    margin-top: 0px;
    font-size: 1.4em;
  }

  #img-div{
    width: 220px;
    height: 220px;
  }

  .div-sobre{
    height: auto;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: 0px;
    row-gap: 1rem;
  }

  #div-sobre-text{
    width: 100%;
    padding: 30px 15px;
  }

  #div-sobre-text h2{
    font-size: 1.6em;
  }

  #div-sobre-text h1{
    font-size: 2.7em;
  }

  #div-sobre-text p{
    font-size: 1.2em;
  }

  #div-sobre-img{
    min-width: 300px;
    width: 100%;
    padding: 0px;
  }

  #div-sobre-img img{
    width: 100%;
    height: 100%;
  }

  .portifolio-titulo h2{
    font-size: 1.6em;
  }

  .portifolio-titulo{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .portifolio-titulo h1{
    font-size: 2.6em;
  }

  footer{
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    row-gap: 1.5rem;
  }

  footer p{
    font-size: 1.5em;
  }

  #footer-icons{
    padding: 0px;
  }

  #footer-icons a{
    font-size: 2em;
  }
}


